.login {
	font-family: sans-serif;
	text-align: center;
	margin: 50px;
}

.login-page {
	color: #f0f8ff;
	margin: 0;
}

.login-page h1 {
	text-align: center;

}


.login-page p {
	text-align: center;
}

.login-form {
	background: #f0f8ff;
	border-radius: 10px;
	padding: 50px;
	margin: 80px auto;
	width: 50%;
	max-width: 340px;

}

.login-form form {
	text-align: center;
}

.login-form label {
	display: block;
}

.login-form input {
	display: block;
	padding: 5px;
	border: 1px solid silver;
	border-radius: 5px;
	font-size: 16px;
	line-height: 20px;
	width: 95%;
}

.login-form div {
	margin: 0 13% 22px;
}

.login-form button {
	background: #0d718d;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #ddd;
	border-radius: 5px;

	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
	margin: 20px 0 0 20px;
	margin-right: 19px;
}